/*Navbar*/
.VbTitleMainHolder {
  align-self: center;
}

.VbInputSearch {
  border-color: #388f88;
  width: 18rem;
}
li > a {
  color: #388f88;
  text-decoration: none;
  font-weight: bold;
}
.VbDestacadaTop {
  background-image: url("../../public/img_blog/noticias/ConnecTrees_FIMA_2022.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40rem;
  background-position: center;
  border-radius: 1rem;
  width: auto;
  /* box-shadow: 0px 20px 10px 2px; */
}

/*NAVIGATION*/

.VbNavigationUl {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1rem;
  font-size: 1.3rem;
  display: inline-flex;
  justify-content: space-evenly;
}

.VbNavigationLi {
  list-style-type: none;
}

/* VbFOOTER */

.externalLink {
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
}

.VbimgFooter {
  width: 25rem;
}

.externalLink:hover {
  color: #388f88;
}

.VbfooterWrap {
  justify-content: center;
  text-align: center;
}

.Vbfooter {
  background: rgb(56, 143, 136);
  background: linear-gradient(
    0deg,
    rgba(56, 143, 136, 1) 0%,
    rgba(252, 255, 254, 1) 77%
  );
  bottom: 0;
  width: 100%;
  padding: 1.5rem 0 3rem 0;
  border-top: 1px solid #388f88;
  box-shadow: 0px -1px 30px 5px;
  padding-top: 5rem;
}

/* CONTENT */

.text_clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.allCard{
  height: 17rem;
  width: auto;
  margin-bottom: 1rem;
}

.j-center{
  justify-content: center;
}

.Vb__content{
  display: none;
}

.Vb__active__content{
  display: flow-root;
}

.NewsDisplay_img_holder{

}
.NewsDisplay_img{

}

.NewsDisplay_news{}

.NewsDisplay_fecha{
  font-size: 1rem;
}

.NewsDisplay_title{
  
}

.NewsDisplay_subtitle{
  background-color: aliceblue;
}
.NewsDisplay_catrrss{
display: flex;

}
.NewsDisplay_Categoria{
  justify-content: right;
  font-size: 1.8rem;
}


.NewsDisplay_wrap_rrss{
  width: fit-content;
  
}
.NewsDisplay_rsscol{

  text-align: -webkit-right;
}

.rrss-icon{
  padding: 0.2rem;
  font-size: 2rem;
}

.VbexternalLink{
  color: #388f88;
}

.rrss-icon:hover{
  box-shadow: 0px 3px 5px 0px wheat;
  color: #388f88;
}

.NewsDisplay_Descripcion{
  text-indent: 2rem;
}
.NewsDisplay_Descripcion>p{
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.NewsDisplay_texto{}

.NewsDisplay_Tags{
  display: flex;
  
}

.NewsDisplay_Destacados{}

.tags{
  background-color: aliceblue;
  margin-left: 0.3rem;
}

.displayNews_card_header{
  padding: 0;
  height: 1.5rem;
}

