/*LOGIN*/
.VbLoginTitle {
  color: #388f88;
  padding: 1rem;
}

/*Navbar*/
.VbnavbarWrap {
  place-content: center;
}

.VbnavbarRrssIcon {
  margin-bottom: 0px;
}

.VbnavLogo {
  width: 15rem;
  margin-left: 2rem;
  height: auto;
}

.VbnavbarTitle {
  color: #388f88;
  margin-bottom: 0;
}
.VbDestacadasWrap {
  align-self: center;
}
.VbnavMenu {
  background: white;
  display: flex;
  position: sticky;
  justify-content: space-evenly;
  width: 80%;
  align-items: center;
}

.Vblatest-card-wrap {
  border: 0;
  background-color: aliceblue;
}

.VbLoMas {
  transform: rotate(180deg);
  color: wheat;
  text-align: center;
}

.VbDestacadasWrap {
  padding: 0.5rem;
  border-radius: 1rem;
  align-self: flex-start;
}

.Vbcard-header {
  background-color: #388f88;
  transform: rotate(180deg);
  border-radius: 0.4rem !important;
}
.VbDestacadasListWrap {
  border-radius: 1rem;
  box-shadow: 0px 5px 8px 0px rgb(189, 127, 13);
  background-color: aliceblue;
}

.Vblatest-card {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.Vblatest-card:hover {
  box-shadow: 0px 0px 8px 0px wheat;
}

.VbnavItem {
  list-style-type: none;
  justify-content: space-evenly;
}

.Vbrrss {
  font-size: 1rem;
  color: #388f88;
  justify-content: space-evenly;
}

li > a {
  color: #388f88;
  text-decoration: none;
  font-weight: bold;
}
li > a:hover {
  color: wheat;
}
.Vbrrss:hover {
  cursor: pointer;
}

.VbnavbarLink {
  position: relative;
  text-decoration: none;
}

.VbnavbarLink:hover {
  color: #388f88;
  color: wheat;
  cursor: pointer;
}

.VbnavbarLink::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: wheat;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.VbnavbarLink:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.VbTitleMainHolder {
  align-self: center;
}

.VbInputSearch {
  border-color: #388f88;
  width: 18rem;
}
li > a {
  color: #388f88;
  text-decoration: none;
  font-weight: bold;
}
.VbDestacadaTop {
  background-image: url("../../public/img_blog/noticias/ConnecTrees_FIMA_2022.png");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  height: 30rem;
  display: flex;
  min-height: 15rem;
  max-height: 31rem;
  border-radius: 1rem;
  width: auto;
  /* box-shadow: 0px 20px 10px 2px; */
}

/*NAVIGATION*/

.VbNavigationUl {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 1rem;
  font-size: 1.3rem;
  display: inline-flex;
  justify-content: space-evenly;
}

.VbNavigationLi {
  list-style-type: none;
}

/* VbFOOTER */

.externalLink {
  text-decoration: none;
  font-weight: bold;
  color: whitesmoke;
}

.VbimgFooter {
  width: 25rem;
}

.externalLink:hover {
  color: #388f88;
}

.VbfooterWrap {
  justify-content: center;
  text-align: center;
}

.Vbfooter {
  background: rgb(56, 143, 136);
  background: linear-gradient(
    0deg,
    rgba(56, 143, 136, 1) 0%,
    rgba(252, 255, 254, 1) 77%
  );
  bottom: 0;
  width: 100%;
  padding: 1.5rem 0 3rem 0;
  border-top: 1px solid #388f88;
  box-shadow: 0px -1px 30px 5px;
  padding-top: 5rem;
}

/* CONTENT */

.text_clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.allCard {
  margin-bottom: 2rem;
  box-shadow: 0px 5px 5px 0px slategray;
}

.j-center {
  justify-content: center;
  margin-top: 2rem;
}

.Vb__content {
  display: none;
}

.Vb__active__content {
  display: flow-root;
  background-color: #388f88;
}

.NewsDisplay_fecha {
  font-size: 1rem;
}

.NewsDisplay_subtitle {
  background-color: aliceblue;
}
.NewsDisplay_catrrss {
  display: flex;
}
.NewsDisplay_Categoria {
  justify-content: right;
  font-size: 1.8rem;
}

.NewsDisplay_wrap_rrss {
  width: fit-content;
  display: flex;
}
.NewsDisplay_rsscol {
  text-align: -webkit-right;
}

.rrss-icon {
  font-size: 1.5rem;
}

.VbexternalLink {
  color: #388f88;
}

.rrss-icon:hover {
  box-shadow: 0px 3px 5px 0px wheat;
  color: #388f88;
}

.NewsDisplay_Descripcion {
  text-indent: 2rem;
}
.NewsDisplay_Descripcion > p {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.NewsDisplay_texto {
}

.NewsDisplay_Tags {
  display: flex;
  flex-wrap: wrap;
}

.tags {
  background-color: aliceblue;
  margin-left: 0.3rem;
}

.displayNews_card_header {
  padding: 0;
  height: 1.5rem;
}

.Vblatesttitle {
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* PAGINATION */
.pagination {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  display: flex;
  list-style: none;
  outline: none;
}

.pagination > .active > a {
  background-color: wheat;
  color: #fff;
}

.pagination > li > a {
  border: 1px solid #388f88;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}

.pagination > li > a,
.pagination > li > span {
  color: #388f88;
}

.active {
  color: wheat;
}

.VbDisplay_wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: flex;
  flex-flow: row;
}

.content__wrapp {
  justify-content: center;
}

.listCategoria {
  align-self: flex-end;
}

.VbDestacadaWrap {
  background-color: aliceblue;
  border-top: 3px solid#388f88;
}

.VbDestacadaIcon {
  margin-left: 0.5rem;
}

.VbDestacar:hover {
  cursor: pointer;
}

/* .VbInnerLine{
  padding-bottom: 1.5rem;
} */

.VbOutterLine {
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
  color: teal;
}

.VbBtn {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

.VbFechaDestacadaTop {
  font-size: small;
}
.destacadaExtLink {
  text-decoration: none;

  color: #388f88;
}
.destacadaExtLink:hover {
  color: wheat;
}

.VbDestacadaMasNuevoText {
  margin: 0;
  font-weight: 400;
}

.VbCategoriaTop {
  background-color: aliceblue;
}

.VbNoticiaTitle:hover {
  cursor: pointer;
  color: wheat;
}

.VbFormSearch {
  display: flex;
  padding: 2px;
  border: 1px solid currentColor;
  border-radius: 5px;
  margin: 0 0 30px;
}

.VbInputSearch {
  border: none;
  background: transparent;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
}

.VbSearchIcon {
  align-self: center;
  padding: 0.3rem;
}

.VbSearchResultBar {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.VbCloseSeatch {
  float: right;
  margin-top: -1rem;
}

.XCloseIconSearch:hover {
  transform: scale(1, -1);
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.VbSearchLi {
  font-weight: 500;
}

.VbSearchWrapper {
  border: 1px solid #388f88;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 5px 8px 0px #388f88;
  margin-bottom: 2rem;
}

.card_header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.VbExternal {
  color: #388f88;
}

.VbNavigationwrap {
  background-color: aliceblue;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
